html, body {
	font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
	text-align: justify;
	margin: 5px;
	background-color: #f3f3f3;
}

.clear {
	clear: both;
}

#headshot {
	width: 12.5%;
	float: left;
	margin-right: 30px;
}

#name {
	float: left;
	font-family: 'Rokkitt';
	padding: 1px;
	margin-bottom: 0;
}

#contactDetails {
	float: right;
	color: #181818;
}

.sectionContent {
	float: right;
	width: 72.5%;
	color: #181818;
}

.title {
	font-family: 'Rokkitt', 'Helvetica', 'Arial', 'sans-serif';
	font-weight: 350;
	margin-bottom: 2px;
	font-size: 25px;
	color: #444444;
	margin-top: 0;
} 

h2 {
	color: #444444;
	font-weight: 400;
	font-family: 'Rokkitt', 'Helvetica', 'Arial', 'sans-serif';
	font-weight: 320;
	margin-bottom: 2px;
	font-size: 19px;
}

section {
	border-bottom: 1px solid #dedede;
}

.mainDetails {
	padding: 25px 35px;
	border-bottom: 2px solid #cf8a05;
	margin: 3px;
	width: 95%;
}

#cv {
	width: 50%;
	max-width: 800px;
	margin: 30px auto;
}

#headshot {
	width: 15%;
	margin-right: 30px;
}

#headshot img {
	border-radius: 50px;
	width: 100%;
	height: auto;
}

.subDetails {
	font-size: 12px;
	margin-top: 0;
	font-style: italic;
}

a {
	text-decoration: none;
	color: inherit;
}

.keySkills {
	column-count: 3;
	list-style: none;
}

.nome {
	margin-bottom: 0;
}

.sectionTitle {
	float: left;
	width: 25%;
	font-family: 'Rokkitt';
	font-size: 13px;
	font-style: italic;
	font-weight: 200;
	color: #cf8a05;
	margin-left: 8px;
}